.showTags{
    margin-top: 40x;
    list-style: none ;
    display: flex;
    flex-wrap: wrap;
    gap :10px;
}
.tag-style{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(172, 172, 231);
}
.cross-tag{
    width: 20px;
    height: 18px;
    margin-left: 5px;
    margin-top: 5px;

}
.tag-style1{
  
    border-radius: 5px;
    margin-bottom: 5px;
}
.showTags1{
    margin-top: 40x;
    list-style: none ;

    height: 200px;
    overflow: scroll;
    
    display: flex;
    flex-direction: column;
    gap :10px;
}
