/* font import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");
@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* variables */
.EmployerApp{
  width: 80%;
}
.eNavbar{
  width: 25%;
  
}
.EmpApp{
  width: 100%;
  display: flex;
  background-color: #f0f5f7;
  font-family: "Jost,sans-serif";
  justify-content: space-between;
}
:root {
  --headingFont: "Montserrat", sans-serif;
  --textFont: "Poppins", sans-serif;
}

/* utility */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headingFont);
}

p,
span {
  font-family: var(--textFont);
}

.scrollbarHidden {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbarHidden::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.App {
  max-width: 100vw;
  min-height: 100vh;
  text-align: center;
  overflow: hidden;
}

.App button {
  cursor: pointer;
}

.blur {
  filter: blur(5px);
  display: none;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.passView {
  position: absolute;
  padding: 4px;
}

#countrySelect {
  padding: 0;
  height: 21px;
  width: auto;
  margin-top: 3px;
  max-width: 170px;
}

.phoneInput {
  max-width: 140px;
}

.recharge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.walletRecharge {
  display: flex;
  flex-wrap: wrap;
}

.walletRecharge div {
  width: 100%;
}

.walletRechargeForm form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rechargeOptions {
  display: flex;
  flex-direction: column;
}

/* .countryCodeSpan{
    position: absolute;
} */

img {
  width: clamp(100px, 300px + 30vw, 100vw);
}

button {
  margin: 1rem;
}

/* navbar */
.employer_navbar {
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 899;
  background-color: white;
  box-shadow: 0px 1px 5px rgb(181, 181, 181);
}

.employer_navbar > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
  padding: 30px-;
}

.employer_navbar > div > a {
  margin: 1rem;
  text-decoration: none;
  color: black;
}
.employerBTNLink {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: #1967d2;
  color: #e7effa !important;
  border-radius: 10px;
  cursor: pointer;
}

.employerBTNLink-light {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: #e7effa;
  color: #1967d2 !important;
  border-radius: 10px;
  cursor: pointer;
}

.employerBTNLink-light:hover {
  background-color: #1967d2;
  color: #e7effa !important;
}

.employerBTN {
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #1967d2;
  color: #e7effa !important;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.employerBTN-light {
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #e7effa !important;
  color: #1967d2 !important;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.employerBTN-light:hover {
  background-color: #1967d2 !important;
  color: #e7effa !important;
}

#loginSubmit {
  margin: 1rem;
  padding: 0.5rem 4rem;
}

.login > h1 {
  color: #1967d2;
}

.Register > h1 {
  color: #1967d2;
}

/* section 1 */
#section1 {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section1_left {
  text-align: center;
  margin: 2rem 0;
  font-size: 1.3rem;
}

.section1_left span {
  color: #1967d2;
}

.modal-backdrop {
  height: 100vh;
  width: 100vw;
  background-color: #000000e1;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: 999;
}

.modal-content-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 1rem;
  min-width: 200px;
  border-radius: 10px;
}

.registerModal {
  width: 400px;
}

.modal-questions {
  display: flex;
  flex-direction: column;
}

.modal-close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: 0px;
  top: 0px;
  font-size: 24px;
  background: #ffffff;
  color: #000;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

/* section 2 */
#section2 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.section2_right {
  margin: 2rem 0;
}

.section2_right > h2 {
  font-size: 2rem;
  font-weight: 800;
}

.section2_right > h4 {
  margin: 1rem 0;
  font-weight: 500;
  font-size: 1.2rem;
}

.section2_right > h4 > span {
  color: #1967d2;
}

.usp {
  display: grid;
  grid-template-columns: auto auto;
  margin: 2rem 0;
}

.usp > div {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.usp-icon {
  font-size: 1.5rem;
}

.usp-text {
  padding-bottom: 0.3rem;
  margin: 0.5rem;
}

/* section 3 */
.section3_left {
  margin: 2rem;
}

.section3_left > h4 {
  margin: 1rem 0;
  font-weight: 500;
  font-size: 1.2rem;
}

.section3_left > h4 > span {
  color: #1967d2;
}

.section3_left > h2 {
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 800;
}

/* section 4 */
#section4 > h1 {
  /* margin: 2rem; */
  font-size: 2rem;
}

.recuiters {
  margin: 3rem 0;
}

.companyImg {
  max-width: 20rem;
}

/* section 5 */
#section5 {
  display: flex;
  flex-direction: column-reverse;
}

.section5_left {
  max-width: 100vw;
}

.section5_right,
.section5_right > h1 {
  margin: 1rem 0;
}
.section5_right > h1 {
  font-size: 2rem;
}
.section5_right > h4 {
  margin: 0.5rem 0;
  font-weight: 500;
  font-size: 1.2rem;
}

.success {
  color: #59ce8f;
}
.warning {
  color: #c21010;
}

/* section 6 */
#section6 > h1 {
  margin: 2rem 0;
}

#section6 > ol {
  margin: 1rem 0;
}

#section6 > ol > li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

#section6 > ol > li > span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin: 5px 0;
}

/* section 7 */
#section7 {
  margin: 2rem 0 0 0;
}

.testimonialContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.testimonialContainer > div {
  margin-bottom: 1rem;
}

.testimonialContainer > h2 {
  margin-bottom: 2rem;
}

.testimonialContainer > p {
  margin-bottom: 2rem;
}

.testimonialImage {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
}

.jobPost {
  margin: 1rem;
}

.applicant {
  margin: 2rem;
}

.applicant div {
  margin: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .walletRecharge div {
    width: auto;
  }
  /* section 1 */
  #section1 {
    flex-direction: row;
    justify-content: space-between;
  }

  .section1_left {
    margin: 1rem;
  }

  /* section 2 */
  #section2 {
    flex-direction: row;
    justify-content: space-between;
  }

  .section2_right {
    margin: 2rem;
  }

  /* section 3 */
  #section3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* section 5 */
  #section5 {
    display: flex;
    flex-direction: row-reverse;
  }

  .section5_left {
    max-height: 100vh;
    overflow: auto;
    min-width: 55%;
  }

  .section5_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* section 6 */
  #section6 {
    margin: 5rem 0;
  }

  #section6 > ol {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }
}
